<b> Exploratory Data Analysis <b>

In [2]:
import sys
print(f"Python version: {sys.version}")
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Python version: 3.10.11 | packaged by Anaconda, Inc. | (main, Apr 20 2023, 18:56:50) [MSC v.1916 64 bit (AMD64)]

In [19]:
df = pd.read_csv("aac_intakes_outcomes.csv")
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [20]:
df.shape

(79672, 41)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79672 entries, 0 to 79671
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_upon_outcome            79672 non-null  object
 1   animal_id_outcome           79672 non-null  object
 2   date_of_birth               79672 non-null  object
 3   outcome_subtype             36348 non-null  object
 4   outcome_type                79662 non-null  object
 5   sex_upon_outcome            79671 non-null  object
 6   age_upon_outcome_(days)     79672 non-null  int64
 7   age_upon_outcome_(years)    79672 non-null  float64
 8   age_upon_outcome_age_group  79672 non-null  object
 9   outcome_datetime            79672 non-null  object
 10  outcome_month               79672 non-null  int64
 11  outcome_year                79672 non-null  int64
 12  outcome_monthyear           79672 non-null  object
 13  outcome_weekday             79672 non-null  object
 14  outcome_hour                79672 non-null  int64
 15  outcome_number              79672 non-null  float64
 16  dob_year                    79672 non-null  int64
 17  dob_month                   79672 non-null  int64
 18  dob_monthyear               79672 non-null  object
 19  age_upon_intake             79672 non-null  object
 20  animal_id_intake            79672 non-null  object
 21  animal_type                 79672 non-null  object
 22  breed                       79672 non-null  object
 23  color                       79672 non-null  object
 24  found_location              79672 non-null  object
 25  intake_condition            79672 non-null  object
 26  intake_type                 79672 non-null  object
 27  sex_upon_intake             79671 non-null  object
 28  count                       79672 non-null  int64
 29  age_upon_intake_(days)      79672 non-null  int64
 30  age_upon_intake_(years)     79672 non-null  float64
 31  age_upon_intake_age_group   79672 non-null  object
 32  intake_datetime             79672 non-null  object
 33  intake_month                79672 non-null  int64
 34  intake_year                 79672 non-null  int64
 35  intake_monthyear            79672 non-null  object
 36  intake_weekday              79672 non-null  object
 37  intake_hour                 79672 non-null  int64
 38  intake_number               79672 non-null  float64
 39  time_in_shelter             79672 non-null  object
 40  time_in_shelter_days        79672 non-null  float64
dtypes: float64(5), int64(11), object(25)
memory usage: 24.9+ MB

In [22]:
df.columns.tolist()

['age_upon_outcome',
 'animal_id_outcome',
 'date_of_birth',
 'outcome_subtype',
 'outcome_type',
 'sex_upon_outcome',
 'age_upon_outcome_(days)',
 'age_upon_outcome_(years)',
 'age_upon_outcome_age_group',
 'outcome_datetime',
 'outcome_month',
 'outcome_year',
 'outcome_monthyear',
 'outcome_weekday',
 'outcome_hour',
 'outcome_number',
 'dob_year',
 'dob_month',
 'dob_monthyear',
 'age_upon_intake',
 'animal_id_intake',
 'animal_type',
 'breed',
 'color',
 'found_location',
 'intake_condition',
 'intake_type',
 'sex_upon_intake',
 'count',
 'age_upon_intake_(days)',
 'age_upon_intake_(years)',
 'age_upon_intake_age_group',
 'intake_datetime',
 'intake_month',
 'intake_year',
 'intake_monthyear',
 'intake_weekday',
 'intake_hour',
 'intake_number',
 'time_in_shelter',
 'time_in_shelter_days']

In [23]:
df["intake_year"].min()

2013

In [24]:
df["intake_year"].max()

2018

In [25]:
df["animal_type"].value_counts()

# In this dataset dogs are the majority typ of animals rescued

Dog      45366
Cat      29539
Other     4428
Bird       339
Name: animal_type, dtype: int64

In [26]:
#pd.set_option('display.max_rows', None)

df["breed"].value_counts()

Domestic Shorthair Mix              23423
Pit Bull Mix                         6256
Chihuahua Shorthair Mix              4831
Labrador Retriever Mix               4789
Domestic Medium Hair Mix             2326
                                    ...
Miniature Poodle/Havanese               1
Rabbit Lh                               1
French Bulldog/Pug                      1
Irish Terrier/Irish Wolfhound           1
Australian Shepherd/Basset Hound        1
Name: breed, Length: 2155, dtype: int64

In [27]:
df["breed"].nunique()

2155

In [28]:
df.isnull().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

<b> Data Preprocesing <b>

In [29]:
df = df.drop(["outcome_subtype"], axis = 1 )

# outcome_subtype has more than half of the dataset record empty hence I decide to drop this column

In [30]:
df.isnull().sum()

age_upon_outcome               0
animal_id_outcome              0
date_of_birth                  0
outcome_type                  10
sex_upon_outcome               1
age_upon_outcome_(days)        0
age_upon_outcome_(years)       0
age_upon_outcome_age_group     0
outcome_datetime               0
outcome_month                  0
outcome_year                   0
outcome_monthyear              0
outcome_weekday                0
outcome_hour                   0
outcome_number                 0
dob_year                       0
dob_month                      0
dob_monthyear                  0
age_upon_intake                0
animal_id_intake               0
animal_type                    0
breed                          0
color                          0
found_location                 0
intake_condition               0
intake_type                    0
sex_upon_intake                1
count                          0
age_upon_intake_(days)         0
age_upon_intake_(years)        0
age_upon_intake_age_group      0
intake_datetime                0
intake_month                   0
intake_year                    0
intake_monthyear               0
intake_weekday                 0
intake_hour                    0
intake_number                  0
time_in_shelter                0
time_in_shelter_days           0
dtype: int64

In [33]:
df["sex_upon_outcome"].fillna("Unknown", inplace = True)

# sex_upon_outcome has only one missing value which now will be allocated with "unknown" type

In [34]:
df.isnull().sum()

age_upon_outcome               0
animal_id_outcome              0
date_of_birth                  0
outcome_type                  10
sex_upon_outcome               0
age_upon_outcome_(days)        0
age_upon_outcome_(years)       0
age_upon_outcome_age_group     0
outcome_datetime               0
outcome_month                  0
outcome_year                   0
outcome_monthyear              0
outcome_weekday                0
outcome_hour                   0
outcome_number                 0
dob_year                       0
dob_month                      0
dob_monthyear                  0
age_upon_intake                0
animal_id_intake               0
animal_type                    0
breed                          0
color                          0
found_location                 0
intake_condition               0
intake_type                    0
sex_upon_intake                1
count                          0
age_upon_intake_(days)         0
age_upon_intake_(years)        0
age_upon_intake_age_group      0
intake_datetime                0
intake_month                   0
intake_year                    0
intake_monthyear               0
intake_weekday                 0
intake_hour                    0
intake_number                  0
time_in_shelter                0
time_in_shelter_days           0
dtype: int64